# Ignorar arquivos temporários do sistema operacional
*.tmp
*.log
Thumbs.db
.DS_Store

# Ignorar pastas específicas
/.vscode/
.Rhistory

# Ignorar arquivos pessoais ou de configuração local
*.env

# Ignorar backups e arquivos desnecessários
*~

# Ignorar planilhas geradas automaticamente
*.xlsx
